<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<!-- Tailwind CSS CDN : -->
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body
		class="bg-gray-100 text-gray-900 font-sans">
		<!-- Navbar -->
		<nav class="bg-blue-600 text-white p-4">
			<div class="container mx-auto flex justify-between items-center">
				<div>
					<a href="{{ path('app_blog') }}" class="flex text-xl font-bold">Vente <p class="text-indigo-500">Locale</p></a>
				</div>
				<div class="flex items-center space-x-6">
					<div class="flex space-x-6">
						<a href="{{ path('app_annonces') }}" class="text-white hover:text-gray-200 font-medium">Annonces</a>
						{% if app.user %}
							<a href="{{ path('app_mon_compte') }}" class="text-white hover:text-gray-200 font-medium">Mon compte</a>
							<a href="{{ path('app_parametres') }}" class="text-white hover:text-gray-200 font-medium">Paramètres</a>
						{% endif %}
					</div>
					<div class="flex items-center space-x-4">
						{% if app.user %}
							<a href="{{ path('app_logout') }}" class="bg-red-500 hover:bg-red-700 px-3 py-1 rounded">Se déconnecter</a>
						{% else %}
							<a href="{{ path('app_login') }}" class="bg-green-500 hover:bg-green-700 px-3 py-1 rounded">Se connecter</a>
							<a href="{{ path('app_register') }}" class="bg-blue-500 hover:bg-blue-700 px-3 py-1 rounded">S'inscrire</a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>

		<!-- Main Navigation -->
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
</html>
